<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSharpRuleSet" version="1.0.1" targetFramework="net452" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="System1Group.Lib.CoreUtils" version="1.0.7" targetFramework="net452" />
</packages>